.gio-multiple-select-popup-actions {
    padding: 12px 8px;
    border-top: 1px solid var(--color-border-2);
}

.gio-multiple-select-popup-actions .arco-divider-vertical {
    margin: 0 8px;
}

.gio-multiple-select-popup-actions .gio-multiple-select-popup-selected-label {
    color: var(--color-text-3);
}

.gio-multiple-select-popup-actions .gio-multiple-select-popup-selected-text {
    margin-left: 4px;
    color: rgb(var(--primary-6));
}
