.table-demo-custom-filter {
  padding: 10px;
  background-color: var(--color-bg-5);
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
}

.table-demo-resizable-column {
  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  .react-resizable-handle {
    cursor: col-resize;

    position: absolute;
    z-index: 1;
    right: -5px;
    bottom: 0;

    width: 10px;
    height: 100%;
  }
}
