.arco-message {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

.arco-message-close-btn {
  top: 50%;
  transform: translateY(-50%);
}

.arco-message-content {
  display: inline-block;
  line-height: 22px;
  text-align: start;
  overflow-wrap: break-word;
}

.arco-message-icon {
  height: 20px;
}
